*{margin:0;outline:0;padding:0;box-sizing: border-box;}
:root{
    --border__color:#a4b0be;
    --primary:#0d6efd;
    --success:#198754;
    --info:#0dcaf0;
    --danger:#dc3545;
    --warning:#ffc107;
    --muted:#6c757d
    --dark:#212529;
    --secondary:#6c757d;
}